<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ title }} - Visef</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class = "col-md-3"></div>
				<div class="col-md-6">
					<img src = "{{ url_for('static', filename='img/404.jpg') }}" style = "max-width:100%; margin-top: 20px"/>
				</div>
				<div class = "col-md-3"></div>
			</div>
		</div>
	</body>
</html>